.contact-section {
    padding: 70px 20px 100px 20px;
    background: var(--main-color);
}

.contact-title {
    margin-bottom: 30px;
}
.contact__sub {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}
.contact__img {
    width: 100%;
    min-height: 100%;
    border-radius: 12px;
    overflow: hidden;
    background-image: url(/public/images/contact.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
.contact-form {
    width: 100%;
    display: grid;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: var(--main-color);
    font-size: 16px;
    outline: none;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    border-color: var(--bg-color);
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.submit-btn {
    background: var(--bg-color);
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: var(--second-bg-color);
}



@media (max-width: 768px) {
    .contact-section {
        padding: 40px 0;
    }

    .contact-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .contact__sub {
        margin: 0 auto;
        grid-template-columns: 1fr;
        gap: 25px;
    }
    .form-group{
        max-width: 100% !important;
    }

    .contact__img {
        height: 400px !important;
        min-height: unset;
        border-radius: 10px;
    }

    .contact-form {
        gap: 14px;
    }

    .contact-form input,
    .contact-form select,
    .contact-form textarea {
        width: 100%;
        max-width: 100%;
        font-size: 15px;
        padding: 12px;
    }
    .service{
        width: 100%;
        max-width: 100%;
        font-size: 12px;
    }

    .submit-btn {
        font-size: 16px;
        padding: 12px;
    }
}
