.farms-section {
    padding: 60px 20px;
    background: var(--main-color);
    color: var(--text-color);
}

.farms-title {
    padding-top: 20px;
    margin-bottom: 40px;
}

.farms-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}

.farm-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.farm-img {
    width: 100%;
    height: 420px;
    background-color: var(--bg-color);
}

.farm-img img {
    width: 100%;
    height: 100%;
    object-fit: cover ;
    display: block;
}

.farm-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: 0.3s ease;
}

.farm-card:hover .farm-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.farm-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--bg-color);
    color: var(--main-color);
}

.farm-name {
    font-size: 18px;
    padding: 10px;
    z-index: 10;
}

.farm-details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: 0.35s ease;
    z-index: 5;
}

.farm-card:hover .farm-details {
    bottom: 40px;
}

.farm-text {
    margin: 5px 0;
    font-size: 16px;
    color: var(--main-color);
}