.footer-section {
    background: var(--bg-color);
    color: var(--main-color);
    padding:20px;
    font-family: 'Cairo', sans-serif;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.footer-logo h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color);
}

.footer-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.footer-contact a {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--main-color);
    text-decoration: none;
    transition: 0.3s;
}

.footer-contact a:hover {
    color: var(--second-color);
}

.footer-social {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-social a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.footer-social a:hover {
    color: var(--second-color);
}


@media (max-width: 1024px) {
    .footer-grid {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
    }

    .footer-social {
        flex-direction: row;
        justify-content: center;
    }
}