.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("/images/header_1.jpg") center/cover no-repeat;
    /* background-attachment: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    overflow: hidden;
    font-family: var(--font-en);
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.333);
    z-index: 1;
}

.hero-box {
    position: relative;
    z-index: 2;
    animation: fadeUp 1s ease-in-out;
    font-family: var(--font-ar);
}

.hero-box h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--main-color);
}
.hero-content {
    font-size: 24px;
    margin: 15px 0 20px 0;
    color: var(--main-color);
}

.hero-btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    text-decoration: none;
    color: var(--main-color);
    background: var(--second-bg-color);
    border-radius: 16px;
    transition: 0.3s ease;
    cursor: pointer;
    border: none;
}

.hero-btn:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
}

/* Animation */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .hero-box h1 {
        font-size: 32px;
    }

    .hero-btn {
        font-size: 18px;
        padding: 10px 25px;
    }
}