.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.loader-image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: contain;
    animation: pulseScale 1.2s ease-in-out infinite;
}

@keyframes pulseScale {
    0% {
        transform: scale(0.8);
        opacity: 0.6;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0.6;
    }
}
@media (max-width: 768px) {
    .loader-image {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            object-fit: contain;
}}