.navbar {
    width: 80%;
    margin: 10px 10% 0 10%;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.3s;
    border-radius: 28px;
}

.navbar.transparent {
    background: #ffffff37;
}

.navbar.scrolled {
    background: var(--bg-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.155);
}

.nav-container {    
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
}
.logo img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;}


.nav-links {
    width: 75%;
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}
.nav-links a {
    font-weight: 600;
    text-decoration: none;
    color: var( --main-color);
    padding: 5px 8px;
    transition: 0.3s;
}

.nav-links a.active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.lang-btn {
    padding: 6px 14px;
    /* width: 40px;
    height: 40px; */
    border-radius: 12px;
    border: 2px solid var( --main-color);
    color: var( --main-color);
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    display: flex;    align-items: center;
    gap: 6px;
}

.lang-btn:hover {
    color: var(--second-bg-color);
    background: var( --main-color);
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1250px) {
    .menu-icon {
        display: block;
    }

        .nav-links {
            position: absolute;
            width: max-content;
            top: 60px;
            background: var(--bg-color);
            flex-direction: column;
            gap: 15px;
            padding: 40px;
            border-radius: 12px;
            border-bottom: 1px solid #ddd;
            opacity: 0;
            pointer-events: none;
            transform: translateY(-20px);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }
    
        .nav-links.open {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }
}