.partners-section {
    padding: 100px 20px;
    background: #fff;
    text-align: center;
}


.partners-desc {
    max-width: 700px;
    margin: 0 auto 60px;
    line-height: 1.8;
    font-size: 16px;
}

.partners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
}

.partner-card {
    min-width: 240px;
    background: var(--main-color);
    border: 3px solid var(--bg-color);
    border-radius: 16px;
    padding: 16px;
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.partner-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.partner-card span {
    font-size: 16px;
    font-weight: 600;
}

.partner-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}