.services-section {
    min-height: 100vh;
    padding: 80px 10px;
    text-align: center;
}


.services-intro {
    margin-bottom: 50px;
    color: var(--second-color);
    font-size: 18px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}


.service-card {
    position: relative;
    height: 420px;
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;
    background: #000;
    transition: 0.4s ease;
    overflow: hidden;
}

.service-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.6s ease;
}

.service-card::before,
.service-card::after {
    content: "";
    position: absolute;
    width: 140%;
    height: 140%;
    background: rgba(255, 255, 255, 0.196);
    top: -20%;
    transition: 0.6s ease;
    transform: rotate(25deg);
    opacity: 0;
}

.service-card::before {
    right: -80%;
}

.service-card::after {
    left: -80%;
    transform: rotate(-25deg);
}

.service-card:hover::before,
.service-card:hover::after {
    opacity: 1;
}

.service-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.372);
    backdrop-filter: blur(4px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.45s ease;
}

.service-card:hover .service-img {
    transform: scale(1.2);
    filter: brightness(0.6);
}

.service-card:hover .service-content {
    bottom: 0;
    padding-bottom: 12px;
}

.service-content h3 {
    color: var(--bg-color);
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: bold;
}

.service-content ul {
    margin: 0;
    padding: 0 10px;
    list-style: none;
}
.service-content ul li {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 1.8;
    position: relative;
    padding-inline-start: 14px;
    text-align: start;
}

.service-card:dir(rtl) .service-content ul li::before {
    content: "•";
    position: absolute;
    right: 0;
    top: -14px;
    font-size: 32px;
    color: var(--bg-color);
}

.service-card:dir(ltr) .service-content ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: -16px;
    font-size: 32px;
    color: var(--bg-color);
}