.sidebar-desktop button,
.sidebar-desktop a,
.sidebar-mobile button,
.sidebar-mobile a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var( --bg-color);
    color: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.sidebar-desktop button:hover,
.sidebar-desktop a:hover,
.sidebar-mobile button:hover,
.sidebar-mobile a:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.sidebar-desktop {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 16px;    color: var(--bg-color);

    top: 33%;
    z-index: 1000;
}

.sidebar-mobile {
    display: none;
}

@media (max-width: 768px) {
    .sidebar-desktop {
        display: none;
    }

    .sidebar-mobile {
        display: flex;
        position: fixed;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        flex-direction: row;
        gap: 12px;
    }
}