.split-section {
    min-height: max-content;
    
}

.slider_content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 100px 0;

}
.slider-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.slide-img {
    width: 100%;
    height:450px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
}

.dot {
    width: 12px;
    height: 12px;
    background: var(--bg-color);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active {
    background: var( --second-color);
    transform: scale(1.2);
}

.text-box {
    width: 50%;
}

.text-box h2 {
    font-size: 32px;
    margin-bottom: 18px;
    color: var( --bg-color);
}

.text-box p {
    color: var(--second-color);
    font-size: 18px;
    line-height: 1.7;
}

/* Responsive */
@media (max-width: 900px) {
    .slider_content {
        flex-direction: column;
        text-align: center;
    }

    .slider-box,
    .text-box {
        width: 100%;
    }

    .slide-img {
        height: 280px;
    }
}