:root {
    --main-color: #ffffff;
    --second-color: #000000;
    --text-color: #005495;
    --bg-color: #16a34a;
    --second-bg-color: #00802f;

    

    --font-ar: "Cairo", sans-serif;
    --font-en: "Poppins", sans-serif;
}

